[run]
source = .
omit =
    tests/*
    */__pycache__/*
    */venv/*
branch = True

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
show_missing = True
fail_under = 60

[html]
directory = htmlcov
